<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-image: url('https://ourbloodinstitute.org/site/assets/files/14592/blood_donation.jpeg');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
             height: 100vh;">>
    <h1 class="add_donor_heading">Add Patient</h1>
<form action="/add_patient" method="POST" class="form-container">
    <div class="form_style">
        <label class="label_style">Patient ID:</label>
        <input type="text" name="patient_id" required>
    </div>
    <div class="form_style">
        <label class="label_style">Name:</label>
        <input type="text" name="patient_name" required>
    </div>
    <div class="form_style">
        <label class="label_style">Phone Number:</label>
        <input type="text" name="patient_phone" required>
    </div>
    <div class="form_style">
        <label class="label_style">Address:</label>
        <input type="text" name="patient_address" required>
    </div>
    <div class="form_style">
        <label class="label_style">Hospital Address:</label>
        <input type="text" name="hospital_address" required>
    </div>
    <div class="form_style">
        <button class="submit_button">Submit</button>
    </div>
</form>
</body>
</html>