<!-- templates/view_bloodbank.html -->
<!DOCTYPE html>
<html>
<head>
    <title>View Blood Banks</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-image: url('https://ourbloodinstitute.org/site/assets/files/14592/blood_donation.jpeg');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
             height: 100vh;">
    <h1 class="add_donor_heading">Blood Bank List</h1>
    <table border="1" cellpadding="5" class="table-container">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for bank in bloodbanks %}
        <tr>
            <td>{{ bank[0] }}</td>
            <td>{{ bank[1] }}</td>
            <td>{{ bank[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
