<!DOCTYPE html>
<html>
<head>
    <title>View Doctors</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-image: url('https://ourbloodinstitute.org/site/assets/files/14592/blood_donation.jpeg');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
             height: 100vh;">
    <h1 class="add_donor_heading">Doctor List</h1>
    <table border="1"cellpadding="5" class="table-container">
        <tr>
            <th>ID</th><th>Name</th><th>Address</th><th>Phone</th>
        </tr>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor[0] }}</td>
            <td>{{ doctor[1] }}</td>
            <td>{{ doctor[2] }}</td>
            <td>{{ doctor[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
